/* Main Tailwind CSS file */
@import "tailwindcss";
@import url('https://fonts.googleapis.com/css?family=Roboto:700|Roboto:400');

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --text-sm: 0.750rem;
    --text-base: 1rem;
    --text-xl: 1.333rem;
    --text-2xl: 1.777rem;
    --text-3xl: 2.369rem;
    --text-4xl: 3.158rem;
    --text-5xl: 4.210rem;

    --color-main: #0f0f0f;
    --color-background: #d6d7e6;
    --color-primary: #0b004d;
    --color-secondary: #036677;
    --color-accent: #054d38;

    --color-dm-main: #f0f0f0;
    --color-dm-background: #191a29;
    --color-dm-primary: #beb3ff;
    --color-dm-secondary: #88eafc;
    --color-dm-accent: #b2fae5;
}


body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
}

html {
    font-size: 100%;
}

/* 16px */

h1 {
    font-size: 2.369rem;
    /* 37.92px */
}

h2 {
    font-size: 1.777rem;
    /* 28.48px */
}

h3 {
    font-size: 1.333rem;
    /* 21.28px */
}


small {
    font-size: 0.750rem;
    /* 12px */
}