/* Main Tailwind CSS file */
@import url('https://fonts.googleapis.com/css2?family=Roboto');
@import "tailwindcss";
@plugin "daisyui";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --text-xs: 0.500rem;
    --text-sm: 0.750rem;
    --text-base: 1rem;
    --text-xl: 1.333rem;
    --text-2xl: 1.777rem;
    --text-3xl: 2.369rem;
    --text-4xl: 3.158rem;
    --text-5xl: 4.210rem;

    --color-main: #0f0f0f;
    --color-background: #d6d7e6;
    --color-background-1: #E6E6EF;
    --color-n-primary: #433C6A;
    --color-n-secondary: #036677;
    --color-n-accent: #866AF6;

    --color-dm-main: #f0f0f0;
    --color-dm-main-1: #D6D6D6;
    --color-dm-background: #191a29;
    --color-dm-background-1: #292b3f;
    --color-dm-primary: #beb3ff;
    --color-dm-secondary: #88d3fc;
    --color-dm-accent: #B1FFFA;
}


body {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
}

h4 {
    font-weight: 600;
}

h5 {
    font-weight: 500;
}

html {
    font-size: 100%;
}

/* 16px */
/* 
h1 {
    font-size: 2.369rem;
}

h2 {
    font-size: 1.777rem;
}

h3 {
    font-size: 1.333rem;
}

small {
    font-size: 0.750rem;
} */